<footer>
    <div class="content">
        <a href="/" class="logo">Bakery</a>

        <p>&copy; <a href="https://github.com/Frozen-Burrito">Frozen Burrito</a> 2020</p>

        <div>
            <a href="/admin/auth/signin">Sign In</a>
            <a href="">Contact</a>
            <a href="https://unsplash.com/collections/12018142/bakery-website">Images used</a>
        </div>
    </div>
</footer>