<div class="nav-wrap">
    <nav class="main-nav">
        <a href="/" class="logo">Bakery</a>

        <ul>
            <li><a href="/products">Products</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
</div>