<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Fontawesome icons -->
     <script src="https://kit.fontawesome.com/c4684a5e48.js"></script> 

     <!-- Filepond -->
     <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
     <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

     <link rel="stylesheet" href="/css/main.css">
     <link rel="stylesheet" href="/css/navbar.css">
     <link rel="stylesheet" href="/css/forms.css">
     <link rel="stylesheet" href="/css/cards.css">

    <title>Bakery</title>
</head>
<body>
    
<%- include('../partials/navbar.ejs') %> 

<%- body %>

    <!-- Filepond Plugins -->
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

    <!-- Filepond -->
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <script defer src="/javascript/fileUpload.js"></script>
</body>
</html>