<div class="hero">
    <div class="landing">
        <h1 class="lead">We make the bread you love</h1>

        <h3>Cakes, entrees, vegan. You choose</h3>
        
        <!-- <a href="/products/new">Add a Product</a> -->
    </div>
</div>

<section class="container">
    <h1>Featured Products</h1>
    
    <div class="product-grid">
        <div class="product-card">
            <div class="image-container">
                <img src="/img/img_1.jpg"/>
            </div>
            <div class="card-content">
                <h4>A Product</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                <div class="card-bottom">
                    <h5>$15</h5>
                    <a href="/products" class="button"><i class="fas fa-shopping-cart"></i> Add To Cart</a>
                </div>
            </div>
        </div>

        <div class="product-card">
            <div class="image-container">
                <img src="/img/img_1.jpg"/>
            </div>
            <div class="card-content">
                <h4>A Product</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                <div class="card-bottom">
                    <h5>$15</h5>
                    <a href="/products" class="button"><i class="fas fa-shopping-cart"></i> Add To Cart</a>
                </div>
            </div>
        </div>

        <div class="product-card">
            <div class="image-container">
                <img src="/img/img_1.jpg"/>
            </div>
            <div class="card-content">
                <h4>A Product</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                <div class="card-bottom">
                    <h5>$15</h5>
                    <a href="/products" class="button"><i class="fas fa-shopping-cart"></i> Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="container">
    <h1>Weekly Offers</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacus tortor, tincidunt nec magna eu, elementum tincidunt quam. Fusce vitae velit id metus bibendum posuere.</p>

    <div class="product-grid">
        <div class="product-card">
            <div class="image-container">
                <img src="/img/img_1.jpg"/>
            </div>
            <div class="card-content">
                <h4>A Placeholder Product</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                <div class="card-bottom">
                    <h5>$15</h5>
                    <a href="/products" class="button"><i class="fas fa-shopping-cart"></i> Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="image-container">
                <img src="/img/img_1.jpg"/>
            </div>
            <div class="card-content">
                <h4>A Placeholder Product</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                <div class="card-bottom">
                    <h5>$15</h5>
                    <a href="/products" class="button"><i class="fas fa-shopping-cart"></i> Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="image-container">
                <img src="/img/img_1.jpg"/>
            </div>
            <div class="card-content">
                <h4>A Placeholder Product</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                <div class="card-bottom">
                    <h5>$15</h5>
                    <a href="/products" class="button"><i class="fas fa-shopping-cart"></i> Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="container">
    <h1>Find Us</h1>
    <div id="map"></div>
</section>



<%- include('./partials/footer.ejs') %>