<div class="hero">
    <div class="landing">
        <h1 class="lead">We make the bread you love</h1>

        <h3>Cakes, entrees, vegan. You choose</h3>
        
        <!-- <a href="/products/new">Add a Product</a> -->
    </div>
</div>