@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap');

* {
    font-family: 'Barlow', sans-serif;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

h1 {
    margin: 2rem 0;

    font-size: 4rem;
    font-weight: normal;
    letter-spacing: .4rem;
}

a {
    text-decoration: none;
    padding: 1rem;
}

img {
    max-width: 100%;
}

.container {
    max-width: 95%;
    margin: 0 auto;

    padding-top: 1rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(4rem, 22rem);
    gap: 2rem;

}