<h2>Add a new product</h2>

<form action="/products/new" method="POST" enctype="multipart/form-data">

    <%- include('_form_fields') %> 

    <a href="/products">Cancel</a>
    <button type="submit">Publish Product</button>
</form>