<h2>Add a new product</h2>

<form action="/products/new" method="POST">

    <%- include('_form_fields') %> 

    <a href="/products">Cancel</a>
    <button type="submit" class="button">Publish Product</button>
</form>